$width-blok: 1440px;
$color-text: #fff;
$color-text-h2: #444444;
$font-famili: Montserrat_400;
$font-roboto: Roboto;
$bg-color: #fff;
$size-14: 14px;
$color: #ff4e50;
$width-blok-adan768: 768px;
$width-blok-adan320: 320px;
